/*
     dark text 353535;
     light text 7a7a7a;
*/

/* body */
body.sdml {}

/* body >> header */
body.sdml header.sdml-header {}

/* body >> header >> navbar */
nav.sdml-navbar {}
nav.sdml-navbar a.navbar-item:hover {
    background-color: #94d7e3;
    color: #353535;
}
nav.sdml-navbar .navbar-link:not(.is-arrowless)::after {
    border-color: #f37d7d;
}
nav.sdml-navbar .navbar-dropdown {
    border-color: #faf17e;
}
nav.sdml-navbar .navbar-item.has-dropdown.is-hoverable a.navbar-link:first-child:hover {
    color: #e68ebc;
}
/* body >> header << */

/* body >> header >> main */
main.sdml-main {}

/* body >> header >> main >> hero */
.sdml-main .hero .hero-body {
    padding-left: 0;
    padding-top: 6rem;
    padding-bottom: 6rem;
}
/* body >> header >> main << */

.sdml-main .sdml-large-block {
    border-top: 2px solid #f4f4f4;
    margin-top: 6rem;
    padding-top: 2em;
}

/* body >> header >> main >> sdml-home-welcome */
.sdml-main .sdml-home-welcome {}

/* body >> header >> main >> sdml-home-welcome >> sdml-logo */
.sdml-main .sdml-home-welcome .sdml-logo {
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.sdml-main .sdml-home-welcome .sdml-logo .sdml-logo-text {
    display: block;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    min-width: 400px;
}
/* body >> header >> main >> sdml-home-welcome << */

/* body >> header >> main >> sdml-home-welcome >> nav */
.sdml-main .sdml-home-welcome nav {
    display: grid;
    grid-gap: 0.25em;
    grid-template-columns: repeat(auto-fill,minmax(20em,1fr));
}
.sdml-main .sdml-home-welcome nav .sdml-link-card {
    border-radius: 0.5em;
    color: #7a7a7a;
    display: flex;
    font-size: 1.25em;
    padding: 1em;
}

.sdml-main .sdml-home-welcome nav .sdml-link-card:hover {
    color: #353535;
}
.sdml-main .sdml-home-welcome nav .sdml-link-card .icon {
    flex-grow: 0;
    flex-shrink: 0;
    height: 2.0em;
    margin-right: 0.5em;
    width: 2.0em;
}
.sdml-main .sdml-home-welcome nav .sdml-link-card h2 {
    display: block;
    font-weight: 600;
    line-height: 1.5;
    color: #353535;
}
.sdml-main .sdml-home-welcome nav .sdml-link-card p {
    font-size: .75em;
}
.sdml-main .sdml-home-welcome nav .sdml-link-card.sdml-primer .icon {
    color: #94d7e3;
}
.sdml-main .sdml-home-welcome nav .sdml-link-card.sdml-primer:hover {
    background-color: #94d7e3;
}
.sdml-main .sdml-home-welcome nav .sdml-link-card.sdml-primer:hover .icon {
    color: #565757;
}
.sdml-main .sdml-home-welcome nav .sdml-link-card.sdml-reference .icon {
    color: #f37d7d;
}
.sdml-main .sdml-home-welcome nav .sdml-link-card.sdml-reference:hover {
    background-color: #f37d7d;
}
.sdml-main .sdml-home-welcome nav .sdml-link-card.sdml-reference:hover .icon {
    color: #565757;
}
.sdml-main .sdml-home-welcome nav .sdml-link-card.sdml-rfcs .icon {
    color: #faf17e;
}
.sdml-main .sdml-home-welcome nav .sdml-link-card.sdml-rfcs:hover {
    background-color: #faf17e;
}
.sdml-main .sdml-home-welcome nav .sdml-link-card.sdml-rfcs:hover .icon {
    color: #565757;
}
.sdml-main .sdml-home-welcome nav .sdml-link-card.sdml-source .icon {
    color: #e68ebc;
}
.sdml-main .sdml-home-welcome nav .sdml-link-card.sdml-source:hover {
    background-color: #e68ebc;
}
.sdml-main .sdml-home-welcome nav .sdml-link-card.sdml-source:hover .icon {
    color: #565757;
}
/* Body >> header >> main >> sdml-home-welcome << */
/* body >> header >> main << */

/* body >> header >> main >> sdml-language */
.sdml-main .sdml-language .columns .column .card {
    margin-bottom: 0.5rem;
}
/* body >> header >> main << */

/* body >> header >> main >> sdml-integrations */
.sdml-main .sdml-integrations .columns .column .card {
    margin-bottom: 0.75rem;
}
/* body >> header >> main << */

/* body >> header >> main >> sdml-getting-started */
.card.edit-tabs-card {
    margin-bottom: 1.5em;
}

.tabs.sdml-tabs ul {
    margin-left: 0;
}

#edit-tabs-content > div {
    display: none;
}

#edit-tabs-content > div.is-active {
  display: block;
}
/* body >> header >> main << */

/* body >> footer */
footer {
    padding: 3rem 1.5rem 6rem;
    margin-top: 6rem;
}

/* body >> footer >> column */
footer .content p .hashtag {
    font-size: 0.66em;
}
footer .content p .hashtag::before {
    content: "#";
}
/* body >> footer << */

/* Mix-in: backgrounds */
.sdml-bg-light {
    background-color: #f9f9f9;
}

/* Mix-in: text */
.sdml-text-dark {
    color: #353535;
}
.sdml-text-medium {
    color: #565757;
}
.sdml-text-light {
    color: #7a7a7a;
}
.sdml-text-blue {
    color: #94d7e3;
}
.sdml-text-red {
    color: #f37d7d;
}
.sdml-text-yellow {
    color: #faf17e;
}
.sdml-text-yellow-dark {
    color: #b58900;
}
.sdml-text-magenta {
    color: #e68ebc;
}

/* Source Code -- Generated from ../sass/highlight.scss */
@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap");
pre {
  background: #fdf6e3;
  color: #002b36;
  font-family: "Fira Code", monospace;
  font-size: 0.8em;
  font-weight: 400;
}
pre > code {
  font-family: "Fira Code", monospace;
}
pre > code span.comment {
  color: #93a1a1;
  font-weight: 300;
}
pre > code span.comment-line {
  color: #93a1a1;
  font-weight: 300;
}
pre > code span.comment-block {
  color: #93a1a1;
  font-weight: 300;
}
pre > code span.constant {
  color: #859900;
  font-weight: 600;
}
pre > code span.constant-builtin {
  color: #859900;
  font-weight: 600;
}
pre > code span.error {
  color: #cb4b16;
  font-weight: 700;
  text-decoration: underline;
}
pre > code span.function {
  color: #2aa198;
}
pre > code span.function-call {
  color: #2aa198;
}
pre > code span.function-builtin-call {
  color: #2aa198;
}
pre > code span.function-definition {
  color: #2aa198;
  font-weight: 700;
}
pre > code span.keyword {
  color: #b58900;
}
pre > code span.linenr {
  color: #657b83;
  font-weight: 300;
}
pre > code span.literal {
  color: #859900;
  font-weight: 600;
}
pre > code span.literal-boolean {
  color: #859900;
  font-weight: 600;
}
pre > code span.literal-number {
  color: #859900;
  font-weight: 600;
}
pre > code span.literal-string {
  color: #859900;
  font-weight: 600;
}
pre > code span.literal-string-special {
  color: #859900;
  font-weight: 600;
}
pre > code span.literal-url {
  color: #6c71c4;
  font-weight: 600;
}
pre > code span.method {
  color: #2aa198;
}
pre > code span.method-call {
  color: #2aa198;
}
pre > code span.method-definition {
  color: #2aa198;
  font-weight: 700;
}
pre > code span.module {
  color: #268bd2;
}
pre > code span.module-builtin {
  color: #6c71c4;
}
pre > code span.module-definition {
  color: #268bd2;
  font-weight: 700;
}
pre > code span.operator {
  color: #b58900;
  font-weight: 300;
}
pre > code span.property-annotation {
  color: #d33682;
}
pre > code span.property-constraint {
  color: #d33682;
}
pre > code span.punctuation {
  color: #586e75;
  font-weight: 300;
}
pre > code span.punctuation-bracket {
  color: #586e75;
  font-weight: 300;
}
pre > code span.punctuation-delimiter {
  color: #586e75;
  font-weight: 300;
}
pre > code span.punctuation-separator {
  color: #586e75;
  font-weight: 300;
}
pre > code span.type {
  color: #268bd2;
}
pre > code span.type-builtin {
  color: #6c71c4;
}
pre > code span.type-definition {
  color: #268bd2;
  font-weight: 700;
}
pre > code span.variable {
  color: #002b36;
}
pre > code span.variable-builtin {
  color: #002b36;
}
pre > code span.variable-definition {
  color: #002b36;
  font-weight: 700;
}
pre > code span.variable-field {
  color: #002b36;
}
pre > code span.variable-parameter {
  color: #002b36;
}
pre > code span.warning {
  text-decoration: underline;
}

pre > code.sdml span.constant-unbounded {
  color: #859900;
}
pre > code.sdml span.type-variant {
  color: #268bd2;
}
pre > code.sdml span.value-variant {
  color: #859900;
}

pre > code.shell span.prompt {
  color: #93a1a1;
}
pre > code.shell span.command {
  color: #002b36;
  font-weight: 500;
}
pre > code.shell em {
  font-style: normal;
  text-decoration: underline;
}
